@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
}

// Variables
$outer-container-bg: #000;
$greeting-color: #fff;
$greeting-font-size: 10rem;
$username-color: #fff;

.outer-container{
    height: 100vh;
    background-color: $outer-container-bg;
    opacity: 0.9;
    display: grid;
    place-items: center;

    .dashboard-container{
        width: 99%;
        height: 99%;
        display: grid;
        place-items: center;
        
        .text-container{
            display: flex;
            flex-direction: column;
            padding: 1rem;
            align-items: center;
            text-align: center;
            
            span{
                color: $greeting-color;
                font-size: $greeting-font-size - 4rem;
                font-weight: 800;
            }
    
            .greeting{
                font-size: $greeting-font-size;
                color: $username-color;
                .username{
                    font-size: $greeting-font-size;
                    color: rgb(3, 191, 47);
                }
            }
        }
    }
}


